<div class="nav-path">
    <div class="nav-item">
        <mat-icon class="nav-icon" aria-hidden="false" aria-label="Client" fontIcon="business_center"></mat-icon><div class="nav-title">Metro</div>
    </div>

    <mat-icon class="nav-separator" aria-hidden="false" aria-label="Client" fontIcon="keyboard_arrow_right"></mat-icon>

    <div class="nav-item">
        <div class="nav-title">Food Basics</div>
    </div>

    <mat-icon class="nav-separator" aria-hidden="false" aria-label="Client" fontIcon="keyboard_arrow_right"></mat-icon>

    <div class="nav-item">
        <div class="nav-title">2024 Food Basics Always On</div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-section">
        <div class="content-header">
            
            <mat-icon class="h2-icon" aria-hidden="false" aria-label="Pacing Process" fontIcon="check_circle"></mat-icon> 
            
            <h2><strong>Pacing Alert:</strong> 2024 Food Basics Always On</h2>
        </div>
       
        <div id="line-chart" style="width: 100%; height: 320px"></div>

        <mat-divider></mat-divider>

        <div class="pacing-box">

            <div class="pacing-platform">
                <img class="platform-icon" src="../../../assets/icon_circle_facebook.png">
                <span class="platform-title">Facebook Ads</span>
                <span class="platform-title-total">Budget spent 19,500$ of 28,800$ total</span>
                <span class="platform-details-btn">
                    <mat-chip-listbox aria-label="Details">
                        <mat-chip-option class="details-chip">Show details</mat-chip-option>
                      </mat-chip-listbox>
                </span>
            </div>

            <div class="pacing-campaigns">
                <div class="pacing-campaign-date">
                    <div class="date-completion"><mat-icon class="date-icon" aria-hidden="false" aria-label="Campaign Dates" fontIcon="calendar_today"></mat-icon> 68% Complete</div>
                    <div class="date-title">
                        Jan. 25 2024 to Jun. 14 2024
                    </div>
                    <div class="date-details">(3 months and 4 days)</div>
                    
                </div>
            </div>

            <div class="pacing-bullet">
                <div id="pacing-bullet-chart" style="width: 100%; height: 70px"></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Overall Pacing</div>
                <div class="pacing-metric-value pacing-positive">8% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Yesterday Pacing</div>
                <div class="pacing-metric-value pacing-negative">78% <mat-icon class="metric-icon" aria-hidden="false" aria-label="down" fontIcon="arrow_drop_down"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Last 7 Days</div>
                <div class="pacing-metric-value pacing-positive">12% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Estimated Spend / Day</div>
                <div class="pacing-metric-value">358$</div>
            </div>

        </div> <!-- end of pacing-box -->

        <div class="pacing-box">

            <div class="pacing-platform">
                <img class="platform-icon" src="../../../assets/icon_circle_google.png">
                <span class="platform-title">Display Video 360</span>
                <span class="platform-title-total">Budget spent 22,870$ of 32,300$ total</span>
                <span class="platform-details-btn">
                    <mat-chip-listbox aria-label="Details">
                        <mat-chip-option class="details-chip">Show details</mat-chip-option>
                      </mat-chip-listbox>
                </span>
            </div>

            <div class="pacing-campaigns">
                <div class="pacing-campaign-date">
                    <div class="date-completion"><mat-icon class="date-icon" aria-hidden="false" aria-label="Campaign Dates" fontIcon="calendar_today"></mat-icon> 71% Complete</div>
                    <div class="date-title">
                        Jan. 20 2024 to Jun. 19 2024
                    </div>
                    <div class="date-details">(3 months and 16 days)</div>
                    
                </div>
            </div>

            <div class="pacing-bullet">
                <div id="pacing-bullet-google" style="width: 100%; height: 70px"></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Overall Pacing</div>
                <div class="pacing-metric-value pacing-positive">12% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Yesterday Pacing</div>
                <div class="pacing-metric-value pacing-negative">8% <mat-icon class="metric-icon" aria-hidden="false" aria-label="down" fontIcon="arrow_drop_down"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Last 7 Days</div>
                <div class="pacing-metric-value pacing-negative">5% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Estimated Spend / Day</div>
                <div class="pacing-metric-value">568$</div>
            </div>

        </div> <!-- end of pacing-box -->

        <div class="pacing-box">

            <div class="pacing-platform">
                <img class="platform-icon" src="../../../assets/icon_circle_bing.png">
                <span class="platform-title">Microsoft Ads</span>
                <span class="platform-title-total">Budget spent 15,200$ of 16,500$ total</span>
                <span class="platform-details-btn">
                    <mat-chip-listbox aria-label="Details">
                        <mat-chip-option class="details-chip">Show details</mat-chip-option>
                      </mat-chip-listbox>
                </span>

            </div>

            <div class="pacing-campaigns">
                <div class="pacing-campaign-date">
                    <div class="date-completion"><mat-icon class="date-icon" aria-hidden="false" aria-label="Campaign Dates" fontIcon="calendar_today"></mat-icon> 82% Complete</div>
                    <div class="date-title">
                        Jan. 20 2024 to Jun. 19 2024
                    </div>
                    <div class="date-details">(3 months and 16 days)</div>
                    
                </div>
            </div>

            <div class="pacing-bullet">
                <div id="pacing-bullet-bing" style="width: 100%; height: 70px"></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Overall Pacing</div>
                <div class="pacing-metric-value pacing-positive">10% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Yesterday Pacing</div>
                <div class="pacing-metric-value pacing-positive">51% <mat-icon class="metric-icon" aria-hidden="false" aria-label="down" fontIcon="arrow_drop_down"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Last 7 Days</div>
                <div class="pacing-metric-value pacing-positive">23% <mat-icon class="metric-icon" aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon></div>
            </div>

            <div class="pacing-overall">
                <div class="pacing-metric-title">Estimated Spend / Day</div>
                <div class="pacing-metric-value">156$</div>
            </div>

        </div> <!-- end of pacing-box -->

        <div style="height: 300px;"></div>

    </div>
</div>