<form [formGroup]="formGroup" class="form">
    <h1>{{ isEditMode ? 'Edit ' + originalData.name : 'Create subaccount' }}</h1>
    <div class="form-row">
        <mat-form-field appearance="outline" class="form-element">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="formGroup.get('name')?.errors?.['required']">
                Name is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-element">
      <button mat-raised-button type="submit" class="button form-button" color="primary" (click)="saveSubaccount()">{{ isEditMode ? 'Edit' : 'Save' }}</button>
      &nbsp;
      <button mat-raised-button class="button" (click)="onCancel()">Cancel</button>
    </div>
</form>