<h2 mat-dialog-title>Change email</h2>
<mat-dialog-content>
    <form [formGroup]="emailForm">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>New email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="emailForm.get('email')?.errors?.['required']">
                Email is required.
            </mat-error>
            <mat-error *ngIf="emailForm.get('email')?.errors?.['email']">
                Please enter a valid email address.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-element">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="emailForm.get('password')?.errors?.['required']">
                Password is required.
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="updateEmail()">Save</button>&nbsp;
    <button mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
