<mat-toolbar id="main_header">
    <span class="link-home">VAKAD</span>
    <span class="spacer"></span>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="profile-icon" aria-label="Profile button" (click)="router.navigate(['/profile'])">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="log-out-icon" aria-label="Log out button" (click)="auth.signOut()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #sidemenu [opened]="(auth.user$ | async) ? true : false" mode="side" [style.width]="sidenavWidth()">

        <mat-nav-list class="business-account">
            <mat-accordion multi="false">
                <mat-expansion-panel hideToggle (opened)="panelOpened('business')" [expanded]="activePanel === 'business'">
                    <mat-expansion-panel-header>
                        <span class="list-item">
                            <div class="circle-icon" *ngIf="commonService.selectedBusiness && commonService.selectedBusiness.name && !commonService.selectedBusiness.logoUrl">{{getShortName(commonService.selectedBusiness.name)}}</div>
                            <img class="circle-logo" *ngIf="commonService.selectedBusiness && commonService.selectedBusiness.logoUrl" [src]="commonService.selectedBusiness.logoUrl">
                            <span class="menu-label-manager" *ngIf="!collapsed() && commonService.selectedBusiness && commonService.selectedBusiness.name">{{commonService.selectedBusiness.name}}</span>
                        </span>
                    </mat-expansion-panel-header>
                    <div class="managers_list">
                        <div class="manager-list-item" *ngFor="let business of businesses" (click)="selectBusiness(business)">
                            <mat-list-item>
                                <span class="list-item" *ngIf="business.name">
                                    <div class="circle-icon" *ngIf="!business.logoUrl">{{getShortName(business.name)}}</div>
                                    <img class="circle-logo" *ngIf="business && business.logoUrl" [src]="business.logoUrl">
                                    <span class="menu-label-manager" *ngIf="!collapsed()">{{business.name}}</span>
                                </span>
                            </mat-list-item>
                        </div>
                        <button mat-menu-item (click)="openBusinessDialog()">
                            <mat-icon class="add">add</mat-icon>Manager
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion multi="false">
                <mat-expansion-panel hideToggle (opened)="panelOpened('account')" [expanded]="activePanel === 'account'">
                    <mat-expansion-panel-header>
                        <span class="list-item">
                            <span class="material-symbols-outlined sidebar-title-icon">
                                enterprise
                            </span>
                            <span class="menu-label-manager" *ngIf="!collapsed()">Accounts</span>
                        </span>
                    </mat-expansion-panel-header>
                    <div class="managers_list" style="padding: 0px;">
                        <div class="manager-list-item" *ngFor="let account of accounts" (click)="selectAccount(account)">
                            <mat-list-item>
                                <span class="list-item">
                                    <span class="menu-label" *ngIf="!collapsed()">{{account.name}}</span>
                                </span>
                            </mat-list-item>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
        <div class="bottom-list" [style.width]="sidenavWidth()">
            <mat-nav-list>
                <mat-list-item (click)="navigate('integrations')">
                    <span class="list-item">
                        <mat-icon class="menu-icon">integration_instructions</mat-icon>
                        <span class="menu-label" *ngIf="!collapsed()">Platform Credentials</span>
                    </span>
                </mat-list-item>
                <mat-list-item (click)="navigate('user_management')" *ngIf="commonService.isAdmin">
                    <span class="list-item">
                        <mat-icon class="menu-icon">supervised_user_circle</mat-icon>
                        <span class="menu-label" *ngIf="!collapsed()">User management</span>
                    </span>
                </mat-list-item>
                <mat-list-item (click)="editElement($event)">
                    <span class="list-item">
                        <mat-icon class="menu-icon">settings</mat-icon>
                        <span class="menu-label" *ngIf="!collapsed()">Manager Settings</span>
                    </span>
                </mat-list-item>
                <mat-list-item (click)="toggleSidemenu(true)">
                    <span class="list-item">
                        <mat-icon class="menu-icon">arrow_back_ios</mat-icon>
                        <span class="menu-label" *ngIf="!collapsed()">Collapse Menu</span>
                    </span>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #business="matMenu">
    <button 
    mat-menu-item 
    *ngFor="let business of businesses" 
    [class.selected]="business.id === commonService.selectedBusiness.id"
    (click)="selectBusiness(business)"
    class="list">
        {{business.name}}
    </button>
    <button mat-menu-item (click)="openBusinessDialog()">
        <mat-icon class="add">add</mat-icon>Manager
    </button>
</mat-menu>

<mat-menu #account="matMenu">
    <button 
    mat-menu-item 
    *ngFor="let account of accounts" 
    [class.selected]="accountSelected(account.id)"
    (click)="selectAccount(account)"
    class="list">
        {{account.name}}
    </button>
</mat-menu>