<mat-toolbar>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="menu-button" (click)="sidemenu.toggle()"><mat-icon>menu</mat-icon></button>
    <img class="link-home logo" src="../../assets/glassroom-logo.png"/>
    <span class="link-home">Alert project</span>
    <span class="spacer"></span>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="profile-icon" aria-label="Profile button" (click)="router.navigate(['/profile'])">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="log-out-icon" aria-label="Log out button" (click)="auth.signOut()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #sidemenu [opened]="(auth.user$ | async) ? true : false" mode="side">
        <mat-nav-list>
            <mat-list-item
                (mouseenter)="openMenu(businessTrigger)" 
                #businessTrigger="matMenuTrigger" 
                [matMenuTriggerFor]="business"
                >
                <span class="list-item">
                    <mat-icon class="menu-icon">business</mat-icon>
                </span>
            </mat-list-item>
            <mat-list-item 
                *ngIf="!isRouteAccounts() && accounts.length > 0" 
                (mouseenter)="openMenu(accountTrigger)" 
                #accountTrigger="matMenuTrigger" 
                [matMenuTriggerFor]="account"
                >
                <span class="list-item">
                    <mat-icon class="menu-icon">account_balance</mat-icon>
                </span>
            </mat-list-item>
        </mat-nav-list>
        <div class="bottom-list">
            <hr>
            <mat-nav-list>
                <mat-list-item (click)="navigate('integrations')">
                    <span class="list-item">
                        <mat-icon class="menu-icon">integration_instructions</mat-icon>
                    </span>
                </mat-list-item>
                <mat-list-item (click)="navigate('user_management')">
                    <span class="list-item">
                        <mat-icon class="menu-icon">supervised_user_circle</mat-icon>
                    </span>
                </mat-list-item>
                <mat-list-item (click)="editElement($event)">
                    <span class="list-item">
                        <mat-icon class="menu-icon">settings</mat-icon>
                    </span>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #business="matMenu">
    <button 
    mat-menu-item 
    *ngFor="let business of businesses" 
    [class.selected]="business.id === commonService.selectedBusinessId"
    (click)="selectBusiness(business)" 
    class="list">
        {{business.name}}
    </button>
    <button mat-menu-item (click)="openBusinessDialog()">
        <mat-icon class="add">add</mat-icon>Manager
    </button>
</mat-menu>

<mat-menu #account="matMenu">
    <button 
    mat-menu-item 
    *ngFor="let account of accounts" 
    [class.selected]="account.id === commonService.selectedAccountId"
    (click)="selectAccount(account)"
    class="list">
        {{account.name}}
    </button>
</mat-menu>