<mat-toolbar>
    <button mat-icon-button class="menu-button" (click)="sidemenu.toggle()"><mat-icon>menu</mat-icon></button>
    <img src="../../assets/glassroom-logo.png"/>
    <span>Alert project</span>
    <span class="spacer"></span>
    <button *ngIf="auth.user$ | async as user" mat-icon-button class="log-out-icon" aria-label="Log out button" (click)="auth.signOut()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #sidemenu opened="false" mode="over">
        <mat-nav-list>
            <mat-list-item (click)="navigate('home')">
                <span class="list-item">
                    <mat-icon class="menu-icon">home</mat-icon> Home
                </span>
            </mat-list-item>
            <mat-list-item (click)="navigate('alerts')">
                <span class="list-item">
                    <mat-icon class="menu-icon">error_outline</mat-icon> Alerts
                </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>