.spacer {
  flex: 1 1 auto;
}
  
img {
  height: 80%;
  width: auto;
}

.log-out-icon {
  margin-right: 1.5%;
}

.menu-button {
  margin-left: 1.5%;
}

mat-drawer {
  width: 15%;
}

.list-item {
  margin-left: 12%;
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 5px;
  margin-left: 10px;
}

.content {
  text-align: center; 
  height: calc(100vh - 90px);
  padding-top: 90px;
}

mat-toolbar {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
}

mat-nav-list {
  padding-top: 70px;
}