.spacer {
  flex: 1 1 auto;
}
  
img {
  height: 80%;
  width: auto;
}

.log-out-icon {
  margin-right: 1.5%;
}

.list-item {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 5px;
  margin-left: 6px;
}

.bottom-list {
  position: fixed;
  bottom: 0;
  overflow: auto;
  min-width: 80px;
}

.content {
  text-align: center; 
  height: calc(100vh - 90px);
  padding-top: 90px;
}

mat-toolbar {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
}

mat-nav-list {
  padding-top: 70px;
}

.logo {
  margin-left: 10px;
}

.add {
  margin-right: 5px !important;
}

.list {
  margin-left: 5px;
}

.selected {
  background-color: #00796b;
  color: white;
}

.list.selected:hover {
  background-color: #303f9f;
}

.menu-label {
  margin-left: 10px;
}

* {
  transition: all 300ms ease-in-out;
}