<div *ngIf="isLoading" class="loader-overlay">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formGroup" class="form">

    <div class="form-row">
        <mat-form-field class="form-element">
            <mat-label>Platform</mat-label>
            <mat-select formControlName="googleAdsPlatform" (selectionChange)="changePlatform($event.value)">
                <mat-option value="dv360">Display & Video 360</mat-option>
                <mat-option value="facebook">Facebook</mat-option>
                <mat-option value="googleAds" disabled>Google Ads</mat-option>
            </mat-select>
            <mat-error *ngIf="(submitted || form['googleAdsPlatform'].touched) && form['googleAdsPlatform'].invalid">
            The field is required
            </mat-error>
        </mat-form-field>
        <div class="form-element">
        </div>
    </div>

    <div class="form-row">
        <mat-form-field class="form-element">
            <mat-label>Ad account</mat-label>
            <input type="text" placeholder="Select your ad account" formControlName="googleAdsAccount" aria-label="ad account" matInput [matAutocomplete]="adAccountsAuto">
            <mat-error *ngIf="(submitted || form['googleAdsAccount'].touched) && form['googleAdsAccount'].invalid">
                The field is required
            </mat-error>
            <mat-autocomplete #adAccountsAuto="matAutocomplete" (optionSelected)="getAdAccountCampaigns(2, $event)" [displayWith]="displayFn">
            <mat-option *ngFor="let adAccount of adAccounts$ | async" [value]="adAccount">
            <span>{{ adAccount.descriptiveName }}</span>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Ad account</mat-label>
            <input type="text" placeholder="Select your ad account" formControlName="googleAdsAccount" aria-label="ad account" matInput [matAutocomplete]="adAccountsAuto">
            <mat-error *ngIf="(submitted || form['googleAdsAccount'].touched) && form['googleAdsAccount'].invalid">
                The field is required
            </mat-error>
            <mat-autocomplete #adAccountsAuto="matAutocomplete" (optionSelected)="getAdAccountCampaigns(2, $event)" [displayWith]="displayFn">
            <mat-option *ngFor="let adAccount of adAccounts$ | async" [value]="adAccount">
            <span>{{ adAccount.descriptiveName }}</span>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-element">
            <mat-label>Campaign*</mat-label>

            <mat-chip-grid #chipGrid aria-label="Campaign Selection">
            <mat-chip-row *ngFor="let campaign of campaigns" (removed)="platformsCommon.remove(campaign, campaigns, selection, announcer)">
                <span>{{ combineAndTruncateName(campaign, 25) }}</span>
                <button matChipRemove class="mat-chip-remove" [attr.aria-label]="'remove ' + campaign.displayName">
                <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            </mat-chip-grid>

            <input placeholder="Select your campaigns" #campaignInput formControlName="googleAdsCampaign"
            [matChipInputFor]="chipGrid" [matAutocomplete]="campaignsAuto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="platformsCommon.add($event, campaigns, formGroup, 'googleAdsCampaign')"/>

            <mat-autocomplete #campaignsAuto="matAutocomplete" (optionSelected)="platformsCommon.selected($event, campaigns, formGroup, 'googleAdsCampaign', selection, announcer, campaignInput)">
            <mat-option *ngFor="let campaign of campaigns$ | async" [value]="campaign">
                <mat-checkbox [checked]="campaign.selected" (click)="$event.stopPropagation(); platformsCommon.toggleSelection(campaigns, campaign, 'googleAdsCampaign', 'id', formGroup, selection, campaignInput)">
                {{ campaign.name }} | {{ campaign.id }}
                </mat-checkbox>
            </mat-option>
            </mat-autocomplete>

            <mat-hint *ngIf="form['googleAdsCampaign'].errors?.['required'] && (submitted || form['googleAdsCampaign'].touched)">
                <span class="mat-error">At least one campaign must be selected</span>
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="googleAdsStartDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="form['googleAdsStartDate'].errors?.['required']">
                This field is required.
            </mat-error>
            <mat-error *ngIf="form['googleAdsStartDate'].errors?.['invalidDate']">
                Please enter a valid date.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-element">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="googleAdsEndDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="form['googleAdsEndDate'].errors?.['required']">
                This field is required.
            </mat-error>
            <mat-error *ngIf="form['googleAdsEndDate'].errors?.['invalidDate']">
                Please enter a valid date.
            </mat-error>
            <mat-error *ngIf="form['googleAdsEndDate'].errors?.['dateMismatch']">
                End date must be after or equal to start date.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Budget</mat-label>
            <input matInput formControlName="googleAdsBudget">
            <mat-error *ngIf="form['googleAdsBudget'].errors?.['required'] && (submitted || form['googleAdsBudget'].touched)">
                The field is required
            </mat-error>
            <mat-error *ngIf="form['googleAdsBudget'].errors?.['pattern'] && (submitted || form['googleAdsBudget'].touched)">
                Please enter a valid number
            </mat-error>
        </mat-form-field>
    </div>

</form>