<button mat-raised-button class="create" color="primary" (click)="openDialog()">Create alert rule</button>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    
    <!-- Campaign Name Column -->
    <ng-container matColumnDef="campaignName">
      <th class="first-column" mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Campaign Name</th>
      <td class="first-column" mat-cell *matCellDef="let element">{{element.campaignName}}</td>
    </ng-container>
    
    <!-- Platform Column -->
    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Platform</th>
      <td mat-cell *matCellDef="let element" [style.height.px]="element.platforms.length * 52">
        <span *ngIf="element.platforms.includes('dv360')">Display & Video 360</span>
        <hr *ngIf="element.platforms.includes('dv360') && (element.platforms.includes('facebook') || element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('facebook')">Facebook</span>
        <hr *ngIf="element.platforms.includes('facebook') && (element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('googleAds')">Google Ads</span>
        <hr *ngIf="element.platforms.includes('googleAds') && element.platforms.includes('bing')">
        <span *ngIf="element.platforms.includes('bing')">Bing</span>
      </td>
    </ng-container>
    
    
    <!-- Campaign Id Column -->
    <ng-container matColumnDef="campaignId">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Campaign ID</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.platforms.includes('dv360')">{{getConcatenatedCampaignIds(element, 'dv360')}}</span>
        <hr *ngIf="element.platforms.includes('dv360') && (element.platforms.includes('facebook') || element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('facebook')">{{getConcatenatedCampaignIds(element, 'facebook')}}</span>
        <hr *ngIf="element.platforms.includes('facebook') && (element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('googleAds')">{{getConcatenatedCampaignIds(element, 'googleAds')}}</span>
        <hr *ngIf="element.platforms.includes('googleAds') && element.platforms.includes('bing')">
        <span *ngIf="element.platforms.includes('bing')">{{getConcatenatedCampaignIds(element, 'bing')}}</span>
      </td>
    </ng-container>
    
    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Start Date</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.platforms.includes('dv360')">{{element.dv360StartDate}}</span>
        <hr *ngIf="element.platforms.includes('dv360') && (element.platforms.includes('facebook') || element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('facebook')">{{element.facebookStartDate}}</span>
        <hr *ngIf="element.platforms.includes('facebook') && (element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('googleAds')">{{element.googleAdsStartDate}}</span>
        <hr *ngIf="element.platforms.includes('googleAds') && element.platforms.includes('bing')">
        <span *ngIf="element.platforms.includes('bing')">{{element.bingStartDate}}</span>
      </td>
    </ng-container>
    
    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">End Date</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.platforms.includes('dv360')">{{element.dv360EndDate}}</span>
        <hr *ngIf="element.platforms.includes('dv360') && (element.platforms.includes('facebook') || element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('facebook')">{{element.facebookEndDate}}</span>
        <hr *ngIf="element.platforms.includes('facebook') && (element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('googleAds')">{{element.googleAdsEndDate}}</span>
        <hr *ngIf="element.platforms.includes('googleAds') && element.platforms.includes('bing')">
        <span *ngIf="element.platforms.includes('bing')">{{element.bingEndDate}}</span>
      </td>
    </ng-container>
    
    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Budget</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.platforms.includes('dv360')">{{element.dv360Budget}}</span>
        <hr *ngIf="element.platforms.includes('dv360') && (element.platforms.includes('facebook') || element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('facebook')">{{element.facebookBudget}}</span>
        <hr *ngIf="element.platforms.includes('facebook') && (element.platforms.includes('googleAds') || element.platforms.includes('bing'))">
        <span *ngIf="element.platforms.includes('googleAds')">{{element.googleAdsBudget}}</span>
        <hr *ngIf="element.platforms.includes('googleAds') && element.platforms.includes('bing')">
        <span *ngIf="element.platforms.includes('bing')">{{element.bingBudget}}</span>
      </td>
    </ng-container>
    
    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'" class="icon-column"></th>
      <td mat-cell *matCellDef="let element" class="icon-row" [style.height.px]="element.platforms.length * 52">
        <button mat-icon-button class="icon" [ngStyle]="{'top.%': getButtonTopPosition(element)}" aria-label="Edit button" (click)="editRule(element)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="icon" [ngStyle]="{'top.%': getButtonTopPosition(element)}" aria-label="Delete button" (click)="deleteRow(element, $event)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="icon" [ngStyle]="{'top.%': getButtonTopPosition(element)}" aria-label="Process button" (click)="processReport(element)">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button class="icon" [ngStyle]="{'top.%': getButtonTopPosition(element)}" aria-label="Show result button" (click)="showResult(element)">
            <mat-icon>assessment</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row class="head-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>
