<img class="glassroom-logo" src="../../assets/glassroom-logo.png"/>

<form [formGroup]="formGroup" class="container">

    <h1 class="title">{{ registration ? "Create your account" : showForgotPassword ? "Reset your password" : "Welcome back" }}</h1>

    <p *ngIf="showForgotPassword === true" class="instructions">Enter your email address and we will send you instructions to reset your password.</p>

    <mat-form-field appearance="outline" class="form-element" *ngIf="registration === true && showForgotPassword === false">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="formGroup.get('username')?.errors?.['required']">
            Username is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formGroup.get('email')?.errors?.['required']">
            Email is required.
        </mat-error>
        <mat-error *ngIf="formGroup.get('email')?.errors?.['email']">
            Please enter a valid email address.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element" *ngIf="showForgotPassword === false">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-error *ngIf="formGroup.get('password')?.errors?.['required']">
            Password is required.
        </mat-error>
        <mat-error *ngIf="!formGroup.get('password')?.errors?.['required'] && registration && formGroup.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters long.
        </mat-error>
        <mat-error *ngIf="!formGroup.get('password')?.errors?.['required'] && registration && !formGroup.get('password')?.errors?.['minlength'] && formGroup.get('password')?.errors?.['passwordStrength'] && !formGroup.get('password')?.errors?.['passwordStrength']['hasUpperCase']">
            Password must contain at least one uppercase letter.
        </mat-error>
        <mat-error *ngIf="!formGroup.get('password')?.errors?.['required'] && registration && !formGroup.get('password')?.errors?.['minlength'] && formGroup.get('password')?.errors?.['passwordStrength'] && !formGroup.get('password')?.errors?.['passwordStrength']['hasLowerCase']">
            Password must contain at least one lowercase letter.
        </mat-error>
        <mat-error *ngIf="!formGroup.get('password')?.errors?.['required'] && registration && !formGroup.get('password')?.errors?.['minlength'] && formGroup.get('password')?.errors?.['passwordStrength'] && !formGroup.get('password')?.errors?.['passwordStrength']['hasSpecialChar']">
            Password must contain at least one special character.
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element" *ngIf="registration === true && showForgotPassword === false">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
        <mat-error *ngIf="formGroup.get('confirmPassword')?.errors?.['required']">
            Confirmation of the password is required.
        </mat-error>
        <mat-error *ngIf="formGroup.hasError('confirmedValidator')">
            Passwords do not match.
        </mat-error>
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirm">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element" *ngIf="registration === true && showForgotPassword === false">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
            <mat-option value="en"><img class="flag" src="../../assets/uk-flag.png"/>&nbsp;English</mat-option>
            <mat-option value="fr"><img class="flag" src="../../assets/france-flag.png"/>&nbsp;French</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('language')?.errors?.['required']">
            Language is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element" *ngIf="registration === true && showForgotPassword === false">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option value="standard">Standard</mat-option>
            <mat-option value="admin">Admin</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('role')?.errors?.['required']">
            Role is required.
        </mat-error>
    </mat-form-field>

    <br>

    <mat-checkbox formControlName="emailUpdates" class="checkbox" *ngIf="registration === true && showForgotPassword === false">I agree to receive marketing communications, updates, and offers via email from Glassroom. I understand that I can unsubscribe at any time by following the instructions in the emails received.</mat-checkbox>

    <mat-error *ngIf="errorMessage" style="text-align: center;">{{ errorMessage }}</mat-error>

    <br>

    <span><a (click)="forgotPassword()" *ngIf="showForgotPassword === false && registration === false">Forgot your password?</a></span>


    <button mat-raised-button color="primary" (click)="onSubmit()" class="continue-button">
        <span class="signin-label">{{ registration ? "Sign up" : showForgotPassword ? "Send email" : "Log in" }}</span>
    </button>

    <br><br>

    <span class="link-label" *ngIf="showForgotPassword === false">{{ registration ? "Already have an account?" : "Don't have an account?" }} <a (click)="toggleRegistration()">{{ registration ? "Log in" : "Sign up" }}</a></span>
    <span><a (click)="goBack()" *ngIf="showForgotPassword === true">Go back</a></span>
</form>
