<div class="filter-container">
  <!-- Campaign Name Filter -->
  <mat-form-field>
    <mat-label>Campaign Name</mat-label>
    <mat-chip-grid #chipName aria-label="Campaign Selection">
      <mat-chip *ngFor="let campaignName of selectedCampaignNames" [removable]="true" (removed)="removeCampaignName(campaignName)">
        {{campaignName}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-grid>
    <input type="text" placeholder="Select campaign Names" [matChipInputFor]="chipName" [matAutocomplete]="autoName" [formControl]="campaignNameFilter">
    <mat-autocomplete #autoName="matAutocomplete">
      <mat-option *ngFor="let campaignName of campaignNames" [value]="campaignName">
        <mat-checkbox [checked]="selectedCampaignNames.includes(campaignName)" (change)="toggleCampaignName(campaignName)">
          {{campaignName}}
        </mat-checkbox>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Campaign Id Filter -->
  <mat-form-field>
    <mat-label>Campaign ID</mat-label>
    <mat-chip-grid #chipID aria-label="Campaign ID Selection">
      <mat-chip *ngFor="let id of selectedCampaignIds" [removable]="true" (removed)="removeCampaignId(id)">
        {{id}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-grid>
    <input type="text" placeholder="Select campaign IDs" [matChipInputFor]="chipID" [matAutocomplete]="autoId" [formControl]="campaignIdFilter">
    <mat-autocomplete #autoId="matAutocomplete">
      <mat-option *ngFor="let id of campaignIds" [value]="id">
        <mat-checkbox [checked]="selectedCampaignIds.includes(id)" (change)="toggleCampaignId(id)">{{id}}</mat-checkbox>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- User  Filter -->
  <mat-form-field>
    <mat-label>User</mat-label>
    <mat-chip-grid #chipUser aria-label="User Selection">
      <mat-chip *ngFor="let user of selectedUsers" [removable]="true" (removed)="removeUser(user)">
        {{user}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-grid>
    <input type="text" placeholder="Select users" [matChipInputFor]="chipUser" [matAutocomplete]="autoUser" [formControl]="userFilter">
    <mat-autocomplete #autoUser="matAutocomplete">
      <mat-option *ngFor="let user of users" [value]="user">
        <mat-checkbox [checked]="selectedUsers.includes(user)" (change)="toggleUser(user)">{{user}}</mat-checkbox>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <!-- Campaign Name Column -->
    <ng-container matColumnDef="campaignName">
      <th class="first-column" mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Campaign Name</th>
      <td class="first-column" mat-cell *matCellDef="let data">
        {{data.CampaignName}}
      </td>
    </ng-container>

    <!-- Line chart Column -->
    <ng-container matColumnDef="lineChart">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Line chart</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          <app-line-chart *ngIf="data.dv360Report" [chartData]="data" platform="dv360" [uniqueId]="'chartdiv_' + data.id + '_DV'" platformRevenue="Revenue (Adv Currency)"></app-line-chart>
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          <app-line-chart *ngIf="data.facebookReport" [chartData]="data" platform="facebook" [uniqueId]="'chartdiv_' + data.id + '_Facebook'" platformRevenue="spend"></app-line-chart>
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          <app-line-chart *ngIf="data.googleAdsReport" [chartData]="data" platform="googleAds" [uniqueId]="'chartdiv_' + data.id + '_GoogleAds'" platformRevenue="costMicros"></app-line-chart>
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          <app-line-chart *ngIf="data.bingReport" [chartData]="data" platform="bing" [uniqueId]="'chartdiv_' + data.id + '_Bing'" platformRevenue="Spend"></app-line-chart>
        </span>
      </td>
    </ng-container>
    

    <!-- Platform Column -->
    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Platform</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          {{data.dv360Platform}}<br>
          {{data.dv360StartDate}} - {{data.dv360EndDate}}<br>
          {{round(data.dv360_perc_days_passed)}}%
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          {{data.facebookPlatform}}<br>
          {{data.facebookStartDate}} - {{data.facebookEndDate}}<br>
          {{round(data.facebook_perc_days_passed)}}%
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          {{data.googleAdsPlatform}}<br>
          {{data.googleAdsStartDate}} - {{data.googleAdsEndDate}}<br>
          {{round(data.googleAds_perc_days_passed)}}%
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          {{data.bingPlatform}}<br>
          {{data.bingStartDate}} - {{data.bingEndDate}}<br>
          {{round(data.bing_perc_days_passed)}}%
        </span>
      </td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Budget</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          ${{round(data.dv360_campaign_cost)}}<br>
          ${{round(data.dv360Budget)}}
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          ${{round(data.facebook_campaign_cost)}}<br>
          ${{round(data.facebookBudget)}}
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          ${{round(data.googleAds_campaign_cost)}}<br>
          ${{round(data.googleAdsBudget)}}
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          ${{round(data.bing_campaign_cost)}}<br>
          ${{round(data.bingBudget)}}
        </span>
      </td>
    </ng-container>

    <!-- Overall error Column -->
    <ng-container matColumnDef="overall">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Overall</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          {{data.dv360_overall_error_rule_message ? data.dv360_overall_error_rule_message : data.dv360_budget_error_rule_message}}
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          {{data.facebook_overall_error_rule_message ? data.facebook_overall_error_rule_message : data.facebook_budget_error_rule_message}}
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          {{data.googleAds_overall_error_rule_message ? data.googleAds_overall_error_rule_message : data.googleAds_budget_error_rule_message}}
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          {{data.bing_overall_error_rule_message ? data.bing_overall_error_rule_message : data.bing_budget_error_rule_message}}
        </span>
      </td>
    </ng-container>

    <!-- Yesterday/Seven days error Column -->
    <ng-container matColumnDef="yesterday">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Yesterday/Seven days</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          {{data.dv360_yesterday_error_rule_message}}<br>
          {{data.dv360_seven_days_error_rule_message}}
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          {{data.facebook_yesterday_error_rule_message}}<br>
          {{data.facebook_seven_days_error_rule_message}}
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          {{data.googleAds_yesterday_error_rule_message}}<br>
          {{data.googleAds_seven_days_error_rule_message}}
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          {{data.bing_yesterday_error_rule_message}}<br>
          {{data.bing_seven_days_error_rule_message}}
        </span>
      </td>
    </ng-container>

    <!-- Daily estimated cost Column -->
    <ng-container matColumnDef="daily_estimated_cost">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'rgba(158, 159, 159, 0.5)'">Daily estimated cost</th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.dv360Platform">
          ${{round(data.dv360_daily_estimated_cost)}}/day
        </span>
        <hr *ngIf="(data.dv360Platform && (data.facebookPlatform || data.googleAdsPlatform || data.bingPlatform)) && !(data.facebookPlatform && !data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.facebookPlatform">
          ${{round(data.facebook_daily_estimated_cost)}}/day
        </span>
        <hr *ngIf="(data.facebookPlatform && (data.googleAdsPlatform || data.bingPlatform)) && !(data.googleAdsPlatform && !data.bingPlatform)">
        <span *ngIf="data.googleAdsPlatform">
          ${{round(data.googleAds_daily_estimated_cost)}}/day
        </span>
        <hr *ngIf="data.googleAdsPlatform && data.bingPlatform">
        <span *ngIf="data.bingPlatform">
          ${{round(data.bing_daily_estimated_cost)}}/day
        </span>
      </td>
    </ng-container>

    <tr mat-header-row class="head-row" *matHeaderRowDef="displayedColumnsAlerts"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumnsAlerts;"></tr>
  </table>
</div>
<div class="footer"></div>