<div *ngIf="isLoading" class="loader-overlay">
    <mat-spinner></mat-spinner>
</div>



<div class="button-container">
    <button mat-raised-button color="primary" (click)="addUsers()">
        <mat-icon>add</mat-icon>Users
    </button>
</div>

<mat-card *ngFor="let user of users">
    <mat-card-content>
        <span>{{ user.displayName }}</span>
        <span>{{ user.email }}</span>
        <span>{{ roles[user.role] }}</span>
        <span>{{ getAccountNames(user) }}</span>
    </mat-card-content>
</mat-card>
