<div *ngIf="isLoading" class="loader-overlay">
    <mat-spinner></mat-spinner>
</div>

<div class="title-container">
    <h1 class="title">User Management</h1>
    <button mat-raised-button color="primary" (click)="addUsers()">
        <mat-icon>add</mat-icon>Users
    </button>
</div>

<div class="container subaccount-list">
    <mat-card>
        <mat-card-content class="header-row">
            <span class="cell">Name</span>
            <span class="cell border">Email</span>
            <span class="cell border">Role</span>
            <span class="cell border">Accounts</span>
        </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let user of users">
        <mat-card-content class="data-row">
            <span class="cell" *ngIf="user.displayName; else noDisplayName">{{ user.displayName }}</span>
            <ng-template #noDisplayName><span class="cell">Invited</span></ng-template>
            <span class="cell border">{{ user.email }}</span>
            <span class="cell border">{{ roles[user.role] }}</span>
            <span class="cell border">{{ getAccountNames(user) }}</span>
        </mat-card-content>
    </mat-card>
</div>
