<div *ngIf="isLoading" class="loader-overlay">
     <mat-spinner></mat-spinner>
 </div>

<div class="title">
    <h1>Platforms integration</h1>
</div>

<div class="container">
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/dv360-logo.png" alt="Google logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('dv360')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('dv360')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="googleService.dv360Connect()" *ngIf="!commonService.isConnected('dv360')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="googleDisconnect('dv360')" *ngIf="commonService.isConnected('dv360')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/google-ads-logo.png" alt="Google logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('googleAds')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('googleAds')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="googleService.googleAdsConnect()" *ngIf="!commonService.isConnected('googleAds')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="googleDisconnect('googleAds')" *ngIf="commonService.isConnected('googleAds')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/facebook-logo.png" alt="Facebook logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('facebook')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('facebook')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="facebookConnect()" *ngIf="!commonService.isConnected('facebook')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="facebookDisconnect()" *ngIf="commonService.isConnected('facebook')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/bing-logo.png" alt="Bing logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('bing')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('bing')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="bingService.bingConnect()" *ngIf="!commonService.isConnected('bing')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="bingDisconnect()" *ngIf="commonService.isConnected('bing')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/apple-searchads-logo.png" alt="Apple logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('apple')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('apple')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="appleService.appleConnect()" *ngIf="!commonService.isConnected('apple')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="appleService.appleDisconnect()" *ngIf="commonService.isConnected('apple')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="platform-card">
        <mat-card-content class="mat-card-content">
            <img src="../../../assets/linkedin-logo.png" alt="Linkedin logo" class="logo">
            <div class="bottom">
                <div class="status-group">
                    <span class="status">Status:</span>
                    <mat-icon style="color: green;" *ngIf="commonService.isConnected('linkedin')">check</mat-icon>
                    <mat-icon style="color: red;" *ngIf="!commonService.isConnected('linkedin')">close</mat-icon>
                </div>
                <button mat-raised-button color="primary" class="reconnect" (click)="linkedinService.linkedinConnect()" *ngIf="!commonService.isConnected('linkedin')">Connect</button>
                <button mat-raised-button color="primary" class="reconnect" (click)="linkedinDisconnect()" *ngIf="commonService.isConnected('linkedin')">Disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
