@import 'ngx-toastr/toastr';

html, body { height: 100%; }

mat-icon {
    font-family: 'Material Icons';
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}