@use '@angular/material' as mat;
@import '../node_modules/@angular/material/_index';

$custom-primary-map: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #8b2ee5, // This is the main color you specified
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 0.87),
    600: rgba(255, 255, 255, 0.87),
    700: rgba(255, 255, 255, 0.87),
    800: rgba(255, 255, 255, 0.87),
    900: rgba(255, 255, 255, 0.87),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
  )
);

$custom-primary: mat.define-palette($custom-primary-map);

// Define your custom accent palette with the color #4992ff
$custom-accent-map: (
  50: #e0f3ff,
  100: #b3e1ff,
  200: #80ceff,
  300: #4dbaff,
  400: #26aaff,
  500: #4992ff,
  600: #0089ff,
  700: #007be6,
  800: #006ecc,
  900: #0053a3,
  A100: #b3d8ff,
  A200: #80bcff,
  A400: #4da1ff,
  A700: #0089ff,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 0.87),
    600: rgba(255, 255, 255, 0.87),
    700: rgba(255, 255, 255, 0.87),
    800: rgba(255, 255, 255, 0.87),
    900: rgba(255, 255, 255, 0.87),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
  )
);

$custom-accent: mat.define-palette($custom-accent-map);

// Define your custom warn palette or use the default one
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object with your custom palettes
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Include the Angular Material theme styles with your custom theme
@include mat.core();
@include mat.all-component-themes($custom-theme);
