.table-container {
    margin: 3% 3%;
}

.table .row:hover {
  background-color: rgba(158, 159, 159, 0.05); 
  cursor: pointer; 
}

table {    
  width: 100%;
}

td {
  padding: 10px;
  border: 1px solid black;
}