<div class="container">
    <div class="filters">
        <mat-form-field appearance="fill">
            <mat-label>Subaccounts</mat-label>
            <mat-select [(value)]="selectedSubaccounts" multiple>
                <mat-option *ngFor="let subaccount of alertsService.subaccounts" [value]="subaccount.id">
                    {{ subaccount.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
            <mat-label>Platforms</mat-label>
            <mat-select [(value)]="selectedPlatforms" multiple>
                <mat-option *ngFor="let key of platformKeys()" [value]="key">
                    {{ platforms[key] }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
            <mat-label>Users</mat-label>
            <mat-select [(value)]="selectedUsers" multiple>
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{ user.email }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter">
            <mat-label>Alert Name</mat-label>
            <input matInput [(ngModel)]="filterName">
        </mat-form-field>
    </div>

    <button mat-raised-button class="create" color="primary" (click)="createAlert()">
        <mat-icon>add</mat-icon>Alert
    </button>
</div>

<div *ngIf="alertsService.subaccounts.length > 0" class="subaccount-list">
    <div *ngFor="let subaccount of filteredSubaccounts()" class="subaccount-item">
        <div class="subaccount-header">
            <span class="subaccount">{{ subaccount.name }}</span>
            <span class="subaccount-button">
                <button mat-stroked-button (click)="editSubaccount(subaccount)" *ngIf="subaccount.id">Edit</button>
                &nbsp;
                <button mat-stroked-button (click)="deleteSubaccount(subaccount)" *ngIf="subaccount.id">Delete</button>
            </span>
        </div>
        <mat-divider></mat-divider>
        <mat-expansion-panel disabled *ngIf="getFilteredAlerts(subaccount.id).length > 0">
            <mat-expansion-panel-header>
                <table>
                    <td>
                        Name
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Platforms
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Start Date
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        End Date
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Budget
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Spend
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Estimated Spend
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Overall Pacing
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Yesterday Spent
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Pacing
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                    <td class="subcell">
                        Spend/day
                        <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                    </td>
                </table>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-accordion *ngFor="let pacingAlert of getFilteredAlerts(subaccount.id)" hideToggle>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="panel-header">
                    <table>
                        <tr>
                            <td [attr.rowspan]="pacingAlert.platforms.length * 3 + 1" class="cell">
                                {{ pacingAlert.campaignName }}
                            </td>
                        </tr>

                        <ng-container *ngFor="let platform of pacingAlert.platforms; let last = last">
                            <tr>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    {{ platforms[platform.platform] }}<br>
                                    <span class="label" *ngIf="platform.formData[platform.platform + 'Label']">
                                        {{ platform.formData[platform.platform + 'Label'] }}
                                    </span>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'StartDate'] }}</td>
                                <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'EndDate'] }}</td>
                                <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'Budget'] }}</td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noBudgetLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noBudgetLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_campaign_cost']; else noSpend">
                                            {{ platform.pacingAlerts[platform.platform + '_campaign_cost'] | number:'1.0-2' }}$
                                        </span>
                                        <ng-template #noSpend>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noEstimatedSpendLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noEstimatedSpendLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_estimated_cost']; else noEstimatedSpend">
                                            {{ platform.pacingAlerts[platform.platform + '_estimated_cost'] | number:'1.0-2' }}$
                                        </span>
                                        <ng-template #noEstimatedSpend>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noOverallLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noOverallLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_overall_delta_value']; else noOverall">
                                            {{ platform.pacingAlerts[platform.platform + '_overall_delta_value'] | number:'1.0-2' }}%
                                        </span>
                                        <ng-template #noOverall>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noYesterdaySpentLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noYesterdaySpentLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_yesterday_spent']; else noYesterdaySpent">
                                            {{ platform.pacingAlerts[platform.platform + '_yesterday_spent'] | number:'1.0-2' }}$
                                        </span>
                                        <ng-template #noYesterdaySpent>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noYesterdayPacingLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noYesterdayPacingLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_yesterday_delta_value']; else noYesterdayPacing">
                                            {{ platform.pacingAlerts[platform.platform + '_yesterday_delta_value'] | number:'1.0-2' }}%
                                        </span>
                                        <ng-template #noYesterdayPacing>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="cell subcell" [class.border-cell]="!last">
                                    <div *ngIf="platform.loading; else noSpendPerDayLoading" class="loader-overlay">
                                        <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                    <ng-template #noSpendPerDayLoading>
                                        <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_daily_estimated_cost']; else noSpendPerDay">
                                            {{ platform.pacingAlerts[platform.platform + '_daily_estimated_cost'] | number:'1.0-2' }}$
                                        </span>
                                        <ng-template #noSpendPerDay>
                                            <span>Not available</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                    <div class="icons">
                        <button mat-icon-button (click)="editAlert(pacingAlert, $event)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="icon" (click)="deleteAlert(pacingAlert, $event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button class="icon" (click)="processReport(pacingAlert, $event)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel-header>
                <div>
                    Détails de la campagne et plus...
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="alertsService.subaccounts.length === 0" class="subaccount-list">
    <mat-expansion-panel disabled *ngIf="alertsService.pacingAlerts.length > 0">
        <mat-expansion-panel-header>
            <table>
                <td>
                    Name
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Platforms
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Start Date
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    End Date
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Budget
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Spend
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Estimated Spend
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Overall Pacing
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Yesterday Spent
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Pacing
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
                <td class="subcell">
                    Spend/day
                    <mat-icon matTooltip="Info about the action" class="tooltip">question_mark</mat-icon>
                </td>
            </table>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-accordion *ngFor="let pacingAlert of alertsService.pacingAlerts" hideToggle>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <table>
                    <tr>
                        <td [attr.rowspan]="pacingAlert.platforms.length * 3 + 1" class="cell">
                            {{ pacingAlert.campaignName }}
                        </td>
                    </tr>

                    <ng-container *ngFor="let platform of pacingAlert.platforms; let last = last">
                        <tr>
                            <td class="cell subcell" [class.border-cell]="!last">
                                {{ platforms[platform.platform] }}<br>
                                <span class="label" *ngIf="platform.formData[platform.platform + 'Label']">
                                    {{ platform.formData[platform.platform + 'Label'] }}
                                </span>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'StartDate'] }}</td>
                            <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'EndDate'] }}</td>
                            <td class="cell subcell" [class.border-cell]="!last">{{ platform.formData[platform.platform + 'Budget'] }}</td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noBudgetLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noBudgetLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_campaign_cost']; else noSpendBis">
                                        {{ platform.pacingAlerts[platform.platform + '_campaign_cost'] | number:'1.0-2' }}$
                                    </span>
                                    <ng-template #noSpendBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noEstimatedSpendLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noEstimatedSpendLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_estimated_cost']; else noEstimatedSpendBis">
                                        {{ platform.pacingAlerts[platform.platform + '_estimated_cost'] | number:'1.0-2' }}$
                                    </span>
                                    <ng-template #noEstimatedSpendBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noOverallLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noOverallLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_overall_delta_value']; else noOverallBis">
                                        {{ platform.pacingAlerts[platform.platform + '_overall_delta_value'] | number:'1.0-2' }}%
                                    </span>
                                    <ng-template #noOverallBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noYesterdaySpentLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noYesterdaySpentLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_yesterday_spent']; else noYesterdaySpentBis">
                                        {{ platform.pacingAlerts[platform.platform + '_yesterday_spent'] | number:'1.0-2' }}$
                                    </span>
                                    <ng-template #noYesterdaySpentBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noYesterdayPacingLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noYesterdayPacingLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_yesterday_delta_value']; else noYesterdayPacingBis">
                                        {{ platform.pacingAlerts[platform.platform + '_yesterday_delta_value'] | number:'1.0-2' }}%
                                    </span>
                                    <ng-template #noYesterdayPacingBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="cell subcell" [class.border-cell]="!last">
                                <div *ngIf="platform.loading; else noSpendPerDayLoadingBis" class="loader-overlay">
                                    <mat-spinner [diameter]="30"></mat-spinner>
                                </div>
                                <ng-template #noSpendPerDayLoadingBis>
                                    <span *ngIf="platform.pacingAlerts && platform.pacingAlerts[platform.platform + '_daily_estimated_cost']; else noSpendPerDayBis">
                                        {{ platform.pacingAlerts[platform.platform + '_daily_estimated_cost'] | number:'1.0-2' }}$
                                    </span>
                                    <ng-template #noSpendPerDayBis>
                                        <span>Not available</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                        </tr>
                    </ng-container>
                </table>
                <div class="icons">
                    <button mat-icon-button (click)="editAlert(pacingAlert, $event)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="deleteAlert(pacingAlert, $event)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button (click)="processReport(pacingAlert, $event)"><mat-icon>play_arrow</mat-icon></button>
                </div>
            </mat-expansion-panel-header>
            <div>
                Détails de la campagne et plus...
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
